CCC_DB_HOST=postgres
CCC_DB_PORT=5432
CCC_DB_HOST_PORT=15432
CCC_DB_NAME=city_communication_center
CCC_DB_USER=ccc
CCC_DB_PASSWORD=change-this-database-password
CCC_INITIAL_PASSWORD=change-this-initial-password
CCC_SIGNING_KEY=change-this-openiddict-signing-key-to-a-long-random-value